<div class="container">
  <div class="mt-5"></div>
    <div class="row">
      <div class="col-xs-12 col-lg-12">
        <div class="mx-auto" style="width: 600px;">
          <div class="card">
            <div class="card-header" >
              <h2>プロフィール編集</h2>
            </div>
              <div class="mx-auto" style="width: 500px;">
                <div class="mt-3"></div>
                  <% if current_user.try(:manager?) %>
                    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
                      <%= devise_error_messages! %>

                      <div class="form-group">
                        <strong><%= f.label :account_name %></strong><br />
                        <%= f.text_field :account_name, autofocus: true, class: "form-control", placeholder: "アカウント名" %>
                      </div>

                      <div class="from-group">
                        <strong><%= f.label :email %></strong><br />
                        <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "Eメール" %>
                      </div>
                      <div class="mt-3"></div>
                      <div class="from-group">
                        <strong><%= f.label :first_name %></strong><br />
                        <%= f.text_field :first_name, autofocus: true, class: "form-control", placeholder: "ファーストネーム" %>
                      </div>
                      <div class="mt-3"></div>
                      <div class="from-group">
                        <strong><%= f.label :last_name %></strong><br />
                        <%= f.text_field :last_name, autofocus: true, class: "form-control", placeholder: "ラストネーム" %>
                      </div>
                      <div class="mt-3"></div>
                      <div class="from-group">
                        <strong><%= f.label :phone %></strong><br />
                        <%= f.text_field :phone, autofocus: true, class: "form-control", placeholder: "電話番号" %>
                      </div>

                      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
                      <% end %>
                      <div class="mt-3"></div>
                      <div class="from-group">
                        <strong><%= f.label :password %></strong> <i class="text-muted">(変更したくない場合は空白のままにしてください)</i><br />
                        <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "パスワード" %>
                        
                      </div>
                      <div class="mt-3"></div>
                      <div class="from-group">
                        <strong><%= f.label :password_confirmation %></strong><br />
                        <%= f.password_field :password_confirmation, class: "form-control", placeholder: "パスワード再確認" %>
                      </div>

                      <% if false %>
                        <div class="from-group">
                          <strong><%= f.label :current_password %> <i class="text-muted">(we need your current password to confirm your changes)</i></strong><br />
                          <%= f.password_field :current_password, autocomplete: "off", class: "form-control", placeholder: "現在のパスワード" %>
                        </div>
                      <% end %>
                      <div class="mt-5"></div>
                      <div class="actions pb-5">
                        <%= f.submit "更新", class: "btn btn-primary" %>
                      </div>
                    <% end %>
                      <%= button_to "アカウントの削除", registration_path(resource_name), data: { confirm: "アカウントを削除してもよろしいですか？" }, method: :delete, class: "btn btn-danger mb-5" %></p>

                      <%= link_to "戻る", :back, class: "text-secondary" %>

                    <% else %>

                      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
                        <%= devise_error_messages! %>

                        <div class="form-group">
                          <strong><%= f.label :account_name %></strong><br />
                          <%= f.text_field :account_name, autofocus: true, class: "form-control", placeholder: "アカウント名" %>
                        </div>

                        <div class="from-group">
                          <strong><%= f.label :email %></strong><br />
                          <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "Eメール" %>
                        </div>

                        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
                        <% end %>
                        <div class="mt-3"></div>
                        <div class="from-group">
                          <strong><%= f.label :password %></strong> <i class="text-muted">(変更したくない場合は空白のままにしてください)</i><br />
                          <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "パスワード" %>
                        </div>
                        <div class="mt-3"></div>
                        <div class="from-group">
                          <strong><%= f.label :password_confirmation %></strong><br />
                          <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: "パスワード再確認" %>
                        </div>

                        <% if false %>
                          <div class="from-group">
                            <strong><%= f.label :current_password %></strong> <i class="text-muted">(we need your current password to confirm your changes)</i><br />
                            <%= f.password_field :current_password, autocomplete: "current-password" %>
                          </div>
                        <% end %>
                        <div class="mt-5"></div>
                        <div class="actions pb-5">
                          <%= f.submit "更新", class: "btn btn-primary" %>
                        </div>
                      <% end %>

                      <%= button_to "アカウントの削除", registration_path(resource_name), data: { confirm: "アカウントを削除してもよろしいですか？" }, method: :delete, class: "btn btn-danger mb-5" %></p>

                      <%= link_to "戻る", :back, class: "text-secondary"%>

                    <% end %>
                  <div class="mt-5"></div>
              </div> 
          </div>
          <div class="mt-5"></div>
        </div>
      </div>
    </div>
</div>
