<h2>アカウント新規登録</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="from-group">
    <%= f.label :account_name %><br />
    <%= f.text_field :account_name, autofocus: true, class: "form-control col-md-5 col-sm", placeholder: "アカウント名" %>
  </div>

  <div class="from-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, class: "form-control col-md-5 col-sm", placeholder: "Eメール" %>
  </div>

  <div class="from-group">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> 文字以上)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off", class: "form-control col-md-5 col-sm", placeholder: "パスワード" %>
  </div>

  <div class="from-group">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control col-md-5 col-sm", placeholder: "パスワード確認" %>
  </div>

  <div class="actions pb-5">
    <%= f.submit "新規作成", class: "btn btn-primary" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
