<h1>検索結果</h1>

  <%= render 'search_form' %>

  検索結果：<%= @studio.count %>件
  
<table>
    <tr>
      <th>スタジオID</th>
      <th>スタジオ名</th>
      <th><%= sort_link(@q, :lowest_price, '価格') %></th>
      <th><%= sort_link(@q, :reviews_count, 'いいね', default_order: :desc) %></th>
    </tr>
  </thead>
    <% @studios.each do |studio| %>
      <tr>
        <td><%= studio.id %></td>
        <td><%= link_to studio.name, home_path(studio) %></td>
        <td><%= studio.lowest_price %></td>
        <td><%= studio.reviews_count %></td>
      </tr>
    <% end %>
</table>

<%= paginate @studios %>