<div class="col-12 clearfix">
    <% unless params[:q][:area_eq].empty? %>
    エリア：<%= params[:q][:area_eq] %><br/>
    <% end %>
    <% unless params[:q][:station_cont].empty? %>
    最寄駅：<%= params[:q][:station_cont] %><br/>
    <% end %>
    <% unless params[:q][:features_feature_in].empty? %>
    スタジオ名：<%= params[:q][:features_feature_in] %>
    <% end %>
    <% unless params[:q][:name_cont].empty? %>
    スタジオ名：<%= params[:q][:name_cont] %><br/>
    <% end %>
<div class="float-right">
<div class="card" style="width: 40rem;">
  <div class="card-header">
    <h1>検索</h1>
  </div>
  <div class="card-body">
    <%= render 'search_form' %>
  </div>
</div>
</div>
</div>


  検索結果：<%= @studio.count %>件
  
<table>
    <tr>
      <th>スタジオID</th>
      <th>スタジオ名</th>
      <th><%= sort_link(@q, :lowest_price, '価格') %></th>
      <th><%= sort_link(@q, :reviews_count, 'いいね', default_order: :desc) %></th>
    </tr>
  </thead>
    <% @studios.each do |studio| %>
      <tr>
        <td><%= studio.id %></td>
        <td><%= link_to studio.name, home_path(studio) %></td>
        <td><%= studio.lowest_price %></td>
        <td><%= studio.reviews_count %></td>
      </tr>
    <% end %>
</table>

<%= paginate @studios %>