<div class="container">
  <div class="mt-3"></div>
      <div class="row">
        <% if user_signed_in? %>
          <% if @studio.review_user(current_user.id) %>
            <div class="col-xs-4 ml-3 mt-3">
              <%= button_to "いいね", studio_review_path(studio_id: @studio.id), method: :delete, id: "review-button", class:"btn btn-secondary" %>
            </div>
            <div class="col-xs-4 ml-1">
              <%= image_tag "/icon_red_heart.png", class: "img-fluid" %>
            </div>
            <div class="col-xs-4 ml-2 mt-4">
              <span>
                <%= @studio.reviews_count %>
              </span>
            </div>
          <% else %>
            <div class="col-xs-4 ml-3 mt-3">
              <%= button_to "いいね", studio_reviews_path(@studio), id: "review-button", class:"btn btn-danger" %>
            </div>
            <div class="col-xs-4 ml-1">
              <%= image_tag "/icon_heart.png", class: "img-fluid" %>
            </div>
            <div class="col-xs-4 ml-2 mt-4">
              <span>
                <%= @studio.reviews_count %>
              </span>
            </div>
          <% end %>
        <% else %>
          <div class="col-xs-4 ml-3 mt-3">
            <input type="submit" value="いいね" disabled="disabled" class="btn btn-outline-danger">
          </div>
          <div class="col-xs-4 ml-1">
            <%= image_tag "/icon_heart.png", class: "img-fluid" %>
          </div>
          <div class="col-xs-4 ml-2 mt-4">
            <span>
              <%= @studio.reviews_count %>
            </span>
          </div>
        <% end %>
      </div>
    <div class="mt-4"></div>
      <div class="row">
        <div class="col-xs-6 col-lg-6">
          <div class="card bg-light">
            <div class="mx-auto">
              <div class="card-body">
                <% if @studio.images.find_by(sequence: '1').image_file_name == "" %>
                  <%= image_tag ("/missing.png"), class: "border" %>
                <% else %>
                  <%= image_tag @studio.images.find_by(sequence: '1').image.url, :size =>'400x400', class: "border" %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-6 col-lg-6">
          <div class="card bg-dark text-white" >
            <div class="card-body">
              <strong><%= @studio.name %></strong>
            </div>
          </div>
          <div class="mt-1"></div>
          <table class="table table-bordered" style="table-layout:fixed;">
            <tr>
              <th scope="row" style="width:100px;" class="bg-secondary text-white">
                TEL:
              </th>
              <td>
                <%= @studio.phone %>
              </td>
            </tr>
          </table>
          <div class="card" >
            <div class="card-body">
              <%= @studio.information %>
            </div>
          </div>
        </div>
    </div>
    <div class="mt-5"></div>
      <div class="card bg-light">
        <div class="card-body">
          <div class="row">
            <div class="col-xs-4 col-lg-4">
              <div class="mx-auto" style="width: 13rem;">
                <% if @studio.images.find_by(sequence: '2').image_file_name == "" %>
                  <%= image_tag ("/missing.png"), :size =>'200x200', class: "border" %>
                <% else %>
                  <%= image_tag @studio.images.find_by(sequence: '2').image.url, :size =>'200x200', class: "border" %>
                <% end %>
              </div>
            </div>
            <div class="col-xs-4 col-lg-4">
              <div class="mx-auto" style="width: 13rem;">
                <% if @studio.images.find_by(sequence: '3').image_file_name == "" %>
                  <%= image_tag ("/missing.png"), :size =>'200x200', class: "border" %>
                <% else %>
                  <%= image_tag @studio.images.find_by(sequence: '3').image.url, :size =>'200x200', class: "border" %>
                <% end %>
              </div>
            </div>
            <div class="col-xs-4 col-lg-4">
              <div class="mx-auto" style="width: 13rem;">
                <% if @studio.images.find_by(sequence: '4').image_file_name == "" %>
                  <%= image_tag ("/missing.png"), :size =>'200x200', class: "border" %>
                <% else %>
                  <%= image_tag @studio.images.find_by(sequence: '4').image.url, :size =>'200x200', class: "border" %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mt-5"></div>
        <div class="row">
          <div class="col-xs-6 col-lg-6">
            <table class="table table-bordered" style="table-layout:fixed;">
              <tr>
                <th scope="row" style="width:100px;" class="bg-secondary text-white">
                  エリア:
                </th>
                <td>
                  <%= @studio.area %>
                </td>
              </tr>
              <tr>
                <th scope="row" style="width:100px;" class="bg-secondary text-white">
                  最寄駅:
                </th>
                <td>
                  <%= @studio.station %>
                </td>
              </tr>
              <tr>
                <th scope="row" style="width:100px;" class="bg-secondary text-white">
                  営業時間:
                </th>
                <td>
                  <%= @studio.business_hours %>
                </td>
              </tr>
              <tr>
                <th scope="row" style="width:100px;" class="bg-secondary text-white">
                  部屋数:
                </th>
                <td>
                  <%= @studio.room %>
                </td>
              </tr>
              <tr>
                <th scope="row" style="width:100px;" class="bg-secondary text-white">
                  料金:
                </th>
                <td>
                  <%= @studio.price %>
                </td>
              </tr>
              <tr>
                <th scope="row" style="width:100px;" class="bg-secondary text-white">
                  住所:
                </th>
                <td>
                  <%= @studio.address %>
                </td>
              </tr>
              <tr>
                <th scope="row" style="width:100px;" class="bg-secondary text-white">
                  URL:
                </th>
                <td>
                  <%= link_to @studio.url, @studio.url, :target => "_blank" %>
                </td>
              </tr>
            </table>
          </div>
          <div class="col-xs-6 col-lg-6">
            <table class="table table-bordered" style="table-layout:fixed;">
              <tr>
                <th scope="row" style="width:100px;" class="bg-secondary text-white">
                  条件:
                </th>
                <td>
                  <% @studio.features.pluck(:feature).each do |v| %>
                    <%= Feature.features_i18n[v] %><br/>
                  <% end %>
                </td>
              </tr>
              <tr>
                <th scope="row" style="width:100px;" class="bg-secondary text-white">
                  周辺情報:
                </th>
                <td>
                  <%= @studio.sorroundings %>
                </td>
              </tr>
              <tr>
                <th scope="row" style="width:100px;" class="bg-secondary text-white">
                  備考:
                </th>
                <td>
                  <%= @studio.etc %>
                </td>
              </tr>
            </table>
          </div>
        </div>
        <div class="embed-responsive embed-responsive-21by9">
          <iframe class="embed-responsive-item" src="http://maps.google.co.jp/maps?q=<%= @studio.address %>&output=embed&t=m&z=16&hl=ja" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" width="1100" height="450"></iframe>
        </div>
        <div class="mt-5"></div>
</div>