<p>
  <strong>店舗名:</strong>
  <%= @studio.name %>
</p>

<p>
  <strong>公式サイト:</strong>
  <%= link_to @studio.url, @studio.url, :target => "_blank" %>
</p>

<% if user_signed_in? %>
  <% if @studio.review_user(current_user.id) %>
    <%= button_to "いいねを解除", studio_review_path(studio_id: @studio.id), method: :delete, id: "review-button" %>
      <%= image_tag("/icon_red_heart.png") %>
      <span>
        <%= @studio.reviews_count %>
      </span>
  <% else %>
    <%= button_to "いいね", studio_reviews_path(@studio), id: "review-button"%>
      <%= image_tag("/icon_heart.png") %>
      <span>
        <%= @studio.reviews_count %>
      </span>
  <% end %>
<% else %>
  <input type="submit" value="いいね" disabled="disabled" >
    <%= image_tag("/icon_heart.png") %>
      <span>
        <%= @studio.reviews_count %>
      </span>
<% end %>

<p>
  <strong>住所:</strong>
  <%= @studio.address %>
</p>

<iframe src="http://maps.google.co.jp/maps?q=<%= @studio.address %>&output=embed&t=m&z=16&hl=ja" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" width="600" height="450"></iframe>
