<p>
  <strong>店舗名:</strong>
  <%= @studio.name %>
</p>

<p>
  <strong>公式サイト:</strong>
  <%= link_to @studio.url, @studio.url, :target => "_blank" %>
</p>

<% if user_signed_in? %>
  <% if @studio.review_user(current_user.id) %>
    <%= button_to "いいねを解除", studio_review_path(studio_id: @studio.id), method: :delete, id: "review-button" %>
      <%= image_tag("/icon_red_heart.png") %>
      <span>
        <%= @studio.reviews_count %>
      </span>
  <% else %>
    <%= button_to "いいね", studio_reviews_path(@studio), id: "review-button"%>
      <%= image_tag("/icon_heart.png") %>
      <span>
        <%= @studio.reviews_count %>
      </span>
  <% end %>
<% else %>
  <input type="submit" value="いいね" disabled="disabled" >
    <%= image_tag("/icon_heart.png") %>
      <span>
        <%= @studio.reviews_count %>
      </span>
<% end %>

<script type="text/javascript">
    function initMap() {

        var test ={lat: <%= @latitude %>, lng: <%= @longitude %>};
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 15,
            center: test
        });
        var transitLayer = new google.maps.TransitLayer();
        transitLayer.setMap(map);

        var contentString = '住所：<%= @address %>';
        var infowindow = new google.maps.InfoWindow({
            content: contentString
        });

        var marker = new google.maps.Marker({
            position:test,
            map: map,
            title: contentString
        });

        marker.addListener('click', function() {
            infowindow.open(map, marker);
        });
    }
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyD9IuYjDiAeJNWPgezhfr91_bVSi7VUASQ&callback=initMap">
</script>

<p>
  <strong>住所:</strong>
  <%= @studio.address %>
</p>

<style type="text/css">
  #map { height: 400px;
    margin-left:auto;
    margin-right:auto;
    text-align:left;
    width: 80%;}
</style>

<div id="map"></div>