<div class="container">
  <div class="mt-5"></div>
    <div class="row">
      <div class="col-xs-12 col-lg-12">
        <h1>＜いいねしたスタジオ＞</h1>
      </div>
    </div>
    <div class="mt-5"></div>
    <div class="row">
    <div class="col-xs-12 col-lg-12">
      <div class="mt-3"></div>
        <div class="float-right">
          <h6>スタジオ：<%= @studio.count %>件</h6>
        </div>
      </div>
    </div>
    <div class="row">
    <div class="col-xs-12 col-lg-12">
      <table class="table table-bordered" style="table-layout:fixed;" >
        <thead class="thead-dark">
          <tr>
            <th style="width:80px;">写真</th>
            <th style="width:200px;">スタジオ名</th>
            <th >電話番号</th>
            <th >エリア</th>
            <th >最寄駅</th>
            <th >営業時間</th>
            <th >部屋数</th>
            <th style="width:100px;">価格</th>
            <th style="width:100px;">いいね</th>
          </tr>
        </thead>
          <% @studios.each do |studio| %>
            <tr>
              <td class="table-secondary"><%= image_tag studio.images.find_by(sequence: '1').image.url, :size =>'60x60' %></td>
              <td class="table-secondary"><%= link_to studio.name, home_path(studio), class: "text-dark" %></td>
              <td class="table-secondary"><%= studio.phone %></td>
              <td class="table-secondary"><%= studio.area %></td>
              <td class="table-secondary"><%= studio.station %></td>
              <td class="table-secondary"><%= studio.business_hours %></td>
              <td class="table-secondary"><%= studio.room %></td>
              <td class="table-secondary">￥<%= studio.lowest_price %>〜</td>
              <td class="table-secondary"><%= studio.reviews_count %></td>
            </tr>
          <% end %>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-lg-12">
      <div class="float-left">
        <%= paginate @studios %>
      </div>
    </div>
  </div>
</div>