<h1>Editing</h1>

<%= form_with(model: @studio, local: true) do |form| %>
  <% if @studio.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@studio.errors.count, "error") %> prohibited this studio from being saved:</h2>

      <ul>
      <% @studio.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :post_flag %>
    <%= form.check_box :post_flag %>
  </div>
  
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.text_field :phone %>
  </div>

  <script>

$(document).ready(function () {
  $(".file").on('change', function(){
    var fileprop = $(this).prop('files')[0],
        find_img = $(this).parent().find('img'),
        filereader = new FileReader(),
        view_box = $(this).parent('.field');
    
    if(find_img.length){
      find_img.nextAll().remove();
      find_img.remove();
    }
    
    var img = '<div class="img_view"><img alt="" class="img"><p><a href="#" class="img_del">画像を削除する</a></p></div>';
    
    view_box.append(img);

    filereader.onload = function() {
      view_box.find('img').attr('src', filereader.result);
      img_del(view_box);
    }
    filereader.readAsDataURL(fileprop);
  });
  
  function img_del(target){
    target.find("a.img_del").on('click',function(){
      var self = $(this),
          parentBox = self.parent().parent().parent();
      if(window.confirm('画像を削除します。\nよろしいですか？')){
        setTimeout(function(){
          parentBox.find('input[type=file]').val('');
          parentBox.find('.img_view').remove();
        } , 0);            
      }
      return false;
    });
  }  
    
});

</script>

  
    <%= form.label :image %>
    <%= form.fields_for :images do |i| %>
      <%= form.file_field :images, class: "file", name: "studio[images_attributes][0][image]" %>
      <%= image_tag i.object.image.url %>

      <%= i.check_box :_destroy %>
      <%= i.label :_destroy, "削除" %>
    <% end %>


  <div class="field">
    <%= form.file_field :images, class: "file", name: "studio[images_attributes][0][image]" %>
  </div>
  <div class="field">
    <%= form.file_field :images, class: "file", name: "studio[images_attributes][1][image]" %>
  </div>
  <div class="field">
    <%= form.file_field :images, class: "file", name: "studio[images_attributes][2][image]" %>
  </div>
  <div class="field">
    <%= form.file_field :images, class: "file", name: "studio[images_attributes][3][image]" %>
  </div>

  <div class="field">
    <%= form.label :information %>
    <%= form.text_field :information %>
  </div>

  <div class="field">
    <%= form.label :area %>
    <%= form.text_field :area %>
  </div>

  <div class="field">
    <%= form.label :station %>
    <%= form.text_field :station %>
  </div>

  <div class="field">
    <%= form.label :business_hours %>
    <%= form.text_field :business_hours %>
  </div>

  <div class="field">
    <%= form.label :room %>
    <%= form.text_field :room %>
  </div>

  <div class="field">
    <%= form.label :lowest_price %>
    <%= form.text_field :lowest_price %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price %>
  </div>


  <div class="field">

  <% if @studio.features.pluck(:feature).include?("rec") %>
    <input type="checkbox" value="rec" name="studio[features_attributes][0][feature]" id="studio_features_attributes_0_feature" checked="checked" >
  <% else %>
    <input type="checkbox" value="rec" name="studio[features_attributes][0][feature]" id="studio_features_attributes_0_feature" >
  <% end %>
    <label for="studio_features_attributes_0_feature">レコーディング可</label>
  
  <% if @studio.features.pluck(:feature).include?("near") %>
    <input type="checkbox" value="near" name="studio[features_attributes][1][feature]" id="studio_features_attributes_1_feature" checked="checked" >
  <% else %>
    <input type="checkbox" value="near" name="studio[features_attributes][1][feature]" id="studio_features_attributes_1_feature" >
  <% end %>
    <label for="studio_features_attributes_1_feature">徒歩5分以内</label>
    
  <% if @studio.features.pluck(:feature).include?("parking") %>
    <input type="checkbox" value="parking" name="studio[features_attributes][2][feature]" id="studio_features_attributes_2_feature" checked="checked" >
  <% else %>
    <input type="checkbox" value="parking" name="studio[features_attributes][2][feature]" id="studio_features_attributes_2_feature" >
  <% end %>
    <label for="studio_features_attributes_2_feature">駐車場あり</label>

  <% if @studio.features.pluck(:feature).include?("rental") %>
    <input type="checkbox" value="rental" name="studio[features_attributes][3][feature]" id="studio_features_attributes_3_feature" checked="checked" >
  <% else %>
    <input type="checkbox" value="rental" name="studio[features_attributes][3][feature]" id="studio_features_attributes_3_feature" >
  <% end %>
    <label for="studio_features_attributes_3_feature">レンタルあり</label>

  <% if @studio.features.pluck(:feature).include?("pack") %>
    <input type="checkbox" value="pack" name="studio[features_attributes][4][feature]" id="studio_features_attributes_4_feature" checked="checked" >
  <% else %>
    <input type="checkbox" value="pack" name="studio[features_attributes][4][feature]" id="studio_features_attributes_4_feature" >
  <% end %>
    <label for="studio_features_attributes_4_feature">パック料金あり</label>

  <% if @studio.features.pluck(:feature).include?("web") %>
    <input type="checkbox" value="web" name="studio[features_attributes][5][feature]" id="studio_features_attributes_5_feature" checked="checked" >
  <% else %>
    <input type="checkbox" value="web" name="studio[features_attributes][5][feature]" id="studio_features_attributes_5_feature" >
  <% end %>
    <label for="studio_features_attributes_5_feature">Web予約可</label>

  <% if @studio.features.pluck(:feature).include?("convenience") %>
    <input type="checkbox" value="convenience" name="studio[features_attributes][6][feature]" id="studio_features_attributes_6_feature" checked="checked" >
  <% else %>
    <input type="checkbox" value="convenience" name="studio[features_attributes][6][feature]" id="studio_features_attributes_6_feature" >
  <% end %>
    <label for="studio_features_attributes_6_feature">コンビニあり</label>

  <% if @studio.features.pluck(:feature).include?("restaurant") %>
    <input type="checkbox" value="restaurant" name="studio[features_attributes][7][feature]" id="studio_features_attributes_7_feature" checked="checked" >
  <% else %>
    <input type="checkbox" value="restaurant" name="studio[features_attributes][7][feature]" id="studio_features_attributes_7_feature" >
  <% end %>
    <label for="studio_features_attributes_7_feature">飲食店あり</label>

  <% if @studio.features.pluck(:feature).include?("break") %>
    <input type="checkbox" value="break" name="studio[features_attributes][8][feature]" id="studio_features_attributes_8_feature" checked="checked" >
  <% else %>
    <input type="checkbox" value="break" name="studio[features_attributes][8][feature]" id="studio_features_attributes_8_feature" >
  <% end %>
    <label for="studio_features_attributes_8_feature">休憩スペースあり</label>

  <% if @studio.features.pluck(:feature).include?("smoking") %>
    <input type="checkbox" value="smoking" name="studio[features_attributes][9][feature]" id="studio_features_attributes_9_feature" checked="checked" >
  <% else %>
    <input type="checkbox" value="smoking" name="studio[features_attributes][9][feature]" id="studio_features_attributes_9_feature" >
  <% end %>
    <label for="studio_features_attributes_9_feature">スタジオ内喫煙可</label>

  <% if @studio.features.pluck(:feature).include?("eating") %>
    <input type="checkbox" value="eating" name="studio[features_attributes][10][feature]" id="studio_features_attributes_10_feature" checked="checked" >
  <% else %>
    <input type="checkbox" value="eating" name="studio[features_attributes][10][feature]" id="studio_features_attributes_10_feature" >
  <% end %>
    <label for="studio_features_attributes_10_feature">スタジオ内飲食可</label>

  <% if @studio.features.pluck(:feature).include?("piano") %>
    <input type="checkbox" value="piano" name="studio[features_attributes][11][feature]" id="studio_features_attributes_11_feature" checked="checked" >
  <% else %>
    <input type="checkbox" value="piano" name="studio[features_attributes][11][feature]" id="studio_features_attributes_11_feature" >
  <% end %>
    <label for="studio_features_attributes_11_feature">生ピアノあり</label>
  
  <% if @studio.features.pluck(:feature).include?("live") %>
    <input type="checkbox" value="live" name="studio[features_attributes][12][feature]" id="studio_features_attributes_12_feature" checked="checked" >
  <% else %>
    <input type="checkbox" value="live" name="studio[features_attributes][12][feature]" id="studio_features_attributes_12_feature" >
  <% end %>
    <label for="studio_features_attributes_12_feature">スタジオライブ可</label>

  </div>
  

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address %>
  </div>

  <div class="field">
    <%= form.label :sorroundings %>
    <%= form.text_field :sorroundings %>
  </div>

  <div class="field">
    <%= form.label :etc %>
    <%= form.text_field :etc %>
  </div>

  <div class="field">
    <%= form.label :url %>
    <%= form.text_field :url %>
  </div>

  <div class="actions">
    <%= form.submit '編集', data: { confirm: 'スタジオを編集しますか？' }%>
  </div>
<% end %>