  <% if current_user.try(:manager?) %>

<nav class="navbar bg-dark navbar-dark">
  <a class="navbar-brand" href="/">Studio Compare</a>

  

  <ul class="list-inline">
  <li class="list-inline-item">
  <%= link_to "スタジオ一覧", studios_path, class: "nav-link text-light" %>
  </li>
  <li class="list-inline-item">
  <%= link_to "プロフィールの編集", edit_user_registration_path, class: "nav-link text-light" %>
  </li>
  <li class="list-inline-item">
  <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-link text-light" %>
  </li>
  </ul>
  
</nav>
  
  <% elsif user_signed_in? %>

  <nav class="navbar bg-dark navbar-dark">
    <a class="navbar-brand" href="/">Studio Compare</a>

    <ul class="list-inline">
      <li class="list-inline-item">
        <%= link_to "店舗運営者新規登録", manager_edit_path, class: "nav-link text-secondary text-light" %>
      </li>
      <li class="list-inline-item">
        <%= link_to "プロフィールの編集", edit_user_registration_path, class: "nav-link text-secondary text-light" %>
      </li>
      <li class="list-inline-item">
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-link text-secondary text-light" %>
      </li>
    </ul>

  <% else %>

  <nav class="navbar bg-dark navbar-dark">
    <a class="navbar-brand" href="/">Studio Compare</a>

    <ul class="list-inline">
      
      <li class="list-inline-item">
        <%= link_to "ログイン/新規登録", new_user_session_path, class: "nav-link text-secondary text-light" %>
      </li>
  <% end %>
</nav>